.backstory-page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  color: var(--yellow);
}

.background {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background_crash {
  background-image: url(background_crash.jpg);
}

.background_ship {
  background-image: url(background_ship.webp);
}

.background_bottle {
  background-image: url(background_bottle.webp);
}

.background_bottlecracked {
  background-image: url(background_bottlecracked.webp);
}

.background_gates {
  background-image: url(background_gates.webp);
}

.background_guns {
  background-image: url(background_guns.webp);
}

.background_gatesblur {
  background-image: url(background_gatesblur.webp);
}

.background_doctor {
  background-image: url(background_doctor.webp);
}

.background_bar {
  background-image: url(background_bar.webp);
}

.background > p {
  background-color: #000000b6;
  padding: 20px 20px;
  width: 80%;
}
