@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&display=swap");

#root {
  display: grid;
  grid-template-rows: 10vh 90vh;
  font-family: "Chakra Petch", sans-serif;
}
