#gameovercontent,
#gamevictory,
#cardvictory,
#rpsvictory,
#gamefriendly {
    /* position: absolute; */
    width: 50%;
    margin: 0 auto;
    margin-top: 25%;
    /* left: 40%; */
    font-weight: bolder;
    color: var(--yellow);
}

#gameovercontent button,
#gamevictory button,
#cardvictory button,
#rpsvictory button,
#gamefriendly button {
    cursor: pointer;
    background-color: var(--yellow);
    border: none;
    font-size: 3rem;
    padding: 20px 75px;
    font-family: var(--font);
    font-weight: 800;
    transition: 150ms;
    border: 1px solid var(--yellow);
    width: 100%;
    margin-top: 20px;
}

#gameovercontent button:hover,
#gamevictory button:hover,
#rpsvictory button:hover,
#gamevictory button:hover,
#gamefriendly button:hover {
    background-color: var(--black);
    border: 1px solid var(--yellow);
    color: var(--yellow);
}
