body {
    overflow: hidden;
}

#gamecontainer {
    grid-area: main;
    display: grid;
    justify-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 100vh;
}
