.headerContainer {
  height: 10vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  z-index: 10;
  background-color: var(--black);
  padding: 10px 0px 10px 10px;
}
#headerchararacter {
  max-height: 10vh;
  display: flex;

  #headercharacterNameHealth {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
#headerchararacter p,
.health-bar {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--yellow);
  padding: 0 0 0 1rem;
}

#headerchararacter img {
  max-height: 7vh;
  border: 5px solid var(--black);
  border-radius: 15px;
}

.menuopenfalse,
.menuopentrue {
  height: 3rem;
  width: 3rem;
  margin: 0 1rem 0 0;
  background-repeat: no-repeat;
  padding: 10px;
  background-size: 3rem 3rem;
  border-radius: 10px;
}

.menuopenfalse {
  background-image: url("../assets/burger.svg");
}

.menuopentrue {
  background-image: url("../assets/close.svg");
  background-position: center;
}

.health-bar {
  display: flex;
  align-content: center;
  gap: 5px;
}

.health-bar-segment {
  background-color: var(--red);
  height: 20px;
  width: 20px;
}
