.headerContainer {
    height: 15vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--yellow);
}
.headerContainer h1 {
    font-size: 4rem;
    font-weight: bolder;
    color: var(--black);
    padding: 0 0 0 1rem;
}

.menuopenfalse,
.menuopentrue {
    height: 64px;
    width: 64px;
    margin: 0 1rem 0 0;
}

.menuopenfalse {
    background-image: url("../assets/burger.svg");
}

.menuopentrue {
    background-image: url("../assets/close.svg");
}
