/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&display=swap");

/* Variables */
:root {
    --font: hehheh;
    --yellow: #ffe207;
    --blue: #003f82;
    --black: #1b1b1b;
    --red: #a20000;
    --white: #f3f3f3;
}

/* Default Styles */
body {
    background-image: url("../assets/bg_start.png");
    background-repeat: repeat-y;
    background-size: cover;
    height: 100%;
}

.bodyOverlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

/* Login Button Styles */
.loginContainer {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginButton {
    width: 60vw;
    padding: 0.5rem 2rem;

    background-color: var(--yellow);
    color: var(--black);
    border: 1px solid var(--red);
    border-radius: 8px;

    font-size: 2rem;
    font-family: "Chakra Petch", sans-serif;
    font-weight: bold;

    box-shadow: 0px 0px 5px var(--red), 0px 0px 15px var(--red), 0px 0px 25px var(--red), 0px 0px 50px var(--red), 0px 0px 150px var(--red);

    animation: pulse 2.5s infinite;

    cursor: pointer;
}
.loginButton:hover {
    border: 1px solid var(--yellow);

    box-shadow: 0px 0px 5px var(--yellow), 0px 0px 15px var(--yellow), 0px 0px 25px var(--yellow), 0px 0px 50px var(--yellow), 0px 0px 150px var(--yellow);
}

/* Animations */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
