.background {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background_cardgame {
  background-image: url(background_cardgame.webp);
}

.card-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
}

.cards img {
  margin: 20px;
}

.options p {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
}

.options button {
  width: 20vw;
  padding: 20px 50px;
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
  color: var(--black);
  margin-bottom: 20px;
  text-align: center;
  transition: 125ms;
  font-weight: 600;
  font-family: var(--font);
  font-size: 1.2rem;
}

.options button:hover {
  background-color: var(--black);
  border: 1px solid var(--yellow);
  color: var(--yellow);
  cursor: crosshair;
}
